.wrapper {
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 12px 0;

    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        color: #1f252c;
        text-transform: uppercase;
    }

    .btn-brand {
        & + .btn-brand {
            margin-left: 10px;
        }
    }

    .brand-placeholder {
        min-width: 100px;
        height: 35px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border-radius: 6px;
        font-weight: bold;
        text-align: center;
    }
}
