.footer-infor {
    font-size: 13px;
    color: #62666b;
}

.footer-link-none {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}

.link-black {
    color: #000000;
}

.link-black:hover {
    color: #fdca5b !important;
}

.footer-title {
    font-size: 18px;
    padding: 20px 0;
}

.footer-infor {
    font-size: 13px;
    color: #62666b;
}

footer {
    padding-top: 15px;
}
