.product-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    grid-auto-rows: minmax(40px, auto);
}

.item-product {
    display: grid;
}

@media (max-width: 1200px) {
    .product-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .product-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
