.card-wrap {
    cursor: pointer;

    .custom-card {
        border-top: 4px solid black;
        transition: all 0.25s ease;

        &.active {
            border-top: 4px solid var(--border-color);
        }

        &:hover {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            transform: translateY(-2px);
        }
    }
}
