.banner {
    background-color: #d53637;
    background-size: 100%;
    background-image: url('https://nshpos.com/Web/Resources/Uploaded/18/images/1920x570(9).jpg');
    background-repeat: no-repeat;
    background-position-x: center;
}

.products {
    background-color: #d53637;
}
